.Sear{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.bu{
    display: flex;
    justify-content: center;
}
.button{
    width: 110px;
    margin-bottom: 2%;
    background-color: #3b71ca;
    color: white;
}
@media only screen and (max-width: 768px) {
    .Sear {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-size: small;
    }

    .button {
        width: 80px;
        margin-bottom: 3%;
    }
}